<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>글목록</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
            <p>
                <span class="nick">[[${user.nick}]]</span>님 반갑습니다.
                <a th:href="@{/user/logout}" class="logout">[로그아웃]</a>
            </p>
        </header>

        <main id="board" class="list">
            
            <table border="0">
                <caption>글목록</caption>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>날짜</th>
                    <th>조회</th>
                </tr>
<!--                <tr th:each="article,i:${articles}">-->
<!--                    <td>[[${pageStartNum - i.index}]]</td>-->
<!--                    <td><a th:href="@{/view(no=${article.no})}" th:text="|${article.title} [${article.comment}]|">제목</a></td>-->
<!--                    <td>[[${article.nick}]]</td>-->
<!--                    <td>[[${article.rdate}]]</td>-->
<!--                    <td>[[${article.hit}]]</td>-->
<!--                </tr>               -->
                

            <!-- 게시글이 있는 경우 -->
            <th:block th:if="${#lists.size(articles) != 0}">
                <tr th:each="article,i:${articles}" th:object="${ph}">
                    <td>[[*{totalCnt-sc.offset} - ${i.index}]]</td>
                    <td>
                        <a th:href="@{/gnb/view} + ${ph.sc.getQueryString(ph.sc.page, article.no)}"
                           th:text="|${article.title}|" class="title" th:data-no="${article.no}"></a>
                        <span th:if="${article.comment gt 0}" th:text="|[${article.comment}]|"></span>
                        <img th:if="${article.file gt 0}" style="" alt="파일" th:src="@{/images/file.jpg}" />
                        <input type="hidden" class="content" th:value="${article.content}">
                    </td>
                    <td class="nick">[[${article.nick}]]</td>

                    <th:block th:if="${article.rdate.getTime() >= startOfToday}">
                        <td>[[${#dates.format(article.rdate, 'HH:mm')}]]</td>
                    </th:block>
                    <th:block th:if="${article.rdate.getTime() < startOfToday}">
                        <td>[[${#dates.format(article.rdate, 'yy-MM-dd')}]]</td>
                    </th:block>

                    <td>[[${article.hit}]]</td>
                </tr>
            </th:block>
                <!-- 게시글이 없는 경우 -->
                <th:block th:if="${#lists.size(articles) == 0 and ph.sc.searchField ne null}">
                    <tr> <td colspan="5">검색된 게시글이 없습니다.</td> </tr>
                </th:block>
                <th:block th:if="${#lists.size(articles) == 0 and ph.sc.searchField eq null}">
                    <tr> <td colspan="5">등록된 게시글이 없습니다.</td> </tr>
                </th:block>
            </table>
            <!-- 게시글이 없는 경우 페이지 넘버 숨기기 -->
            <div class="page" th:style="${#lists.size(articles) == 0 ? 'visibility:hidden;':''}" th:object="${ph}">

                <th:block th:if="*{showPrev}">
                    <a th:href="@{/gnb} + ${ph.sc.getQueryString(ph.beginPage-1)}" class="prev">이전</a>
                </th:block>

                <th:block th:each="num:${#numbers.sequence(ph.beginPage, ph.endPage)}">
                    <a  th:href="@{/gnb} + ${ph.sc.getQueryString(num)}" th:class="${num == ph.sc.page ? 'num current':'num'}">
                        [[${num}]]
                    </a>
                </th:block>

                <th:block th:if="*{showNext}">
                    <a th:href="@{/gnb} + ${ph.sc.getQueryString(ph.endPage+1)}" class="next">다음</a>
                </th:block>

            </div>

            <!--            <div class="page">
                            <th:block th:if="${groups[0]>1}">
                                <a th:href="@{/list(pg=${groups[0]-1})}" class="prev">이전</a>
                            </th:block>

                            <th:block th:each="num:${#numbers.sequence(groups[0],groups[1])}">

                                <a th:href="@{/list(pg=${num})}"
                                   th:class="${num==currentPage?'num current':'num'}">[[${num}]]</a>

                            </th:block>

                            <th:block th:if="${groups[1]<lastPage}">
                                <a th:href="@{/list(pg=${groups[1]+1})}" class="next">다음</a>
                            </th:block>
                        </div>
            -->
            <a th:href="@{/gnb/write} + ${ph.sc.getQueryString()}" class="btnWrite">글쓰기</a>
        </main>
        </th:block>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>
</html>